# Exercícios Módulo 5. Bases de dados com SQLite (Soluções)

Considerações a ter em conta:

* Guardar este documento com o seguinte formato para entrega: M5_04_nome_apelido1_apelido2
* Fazer os exercícios com as ferramentas vistas nas sessões. 
* Comentar o código
* Utilizar nomes de variáveis apropriados, se vai guardar uma nota, chamar a essa variável nota, não n ou x

**1) Praticar um pouco com SQLite:**

* Criar uma base de dados que se chame biblioteca
* Criar as seguintes tabelas (deverá colocar os tipos dos atributos com lógica, investigar quais há em SQLite para o poder fazer): 
 * autor(bi, nome, apelidos, estarVivo)
     * em bi pode colocar um número aleatório
 * livro(isbn, título, editorial, ano_escrito)  
     * isnb = International Standard Book Number - Pode colocar um número aleatório
 * utilizador(bi, nome, apelidos, numEmpréstimos)
     * em bi pode colocar um número aleatório
* Inserir pelo menos 3 registos em cada uma das tabelas 
 * Em autor, alguns vivos e outros mortos
 * Em livro, alguns com ano de escritura anterior a 1900 e outros depois 
 * Em utilizador, alguns com mais de 10 empréstimos e outros com menos
* Comprovar que tudo está correto com **DB Browser (SQLite)** 
* Fazer as seguintes consultas:
 * Listar a todos os autores 
 * Listar todos os livros 
 * Listar todos os utilizadores
 * Listar todos os autores que estejam vivos (CLAUSULA WHERE)
 * Listar todos os livros que tenham sido escritos posteriormente a 1900
 * Listar todos os utilizadores que se tenham levado mais de 10 livros e filtrar pelo nome

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('biblioteca.db')

In [4]:
cur = conn.cursor()

In [5]:
cur.execute('''CREATE TABLE autor
               (bi INTEGER PRIMARY KEY,
                nome TEXT,
                apelidos TEXT,
                estarVivo BOOLEAN)''')

In [6]:
cur.execute('''CREATE TABLE livro
               (isbn TEXT PRIMARY KEY,
                título TEXT,
                editorial TEXT,
                ano_escrito INTEGER)''')

In [7]:
cur.execute('''CREATE TABLE utilizador
               (bi INTEGER PRIMARY KEY,
                nome TEXT,
                apelidos TEXT,
                numEmpréstimos INTEGER)''')

In [8]:
cur.execute("INSERT INTO autor VALUES (1, 'Machado', 'de Assis', 0)")
cur.execute("INSERT INTO autor VALUES (2, 'Agatha', 'Christie', 1)")
cur.execute("INSERT INTO autor VALUES (3, 'Gabriel', 'García Márquez', 0)")
cur.execute("INSERT INTO livro VALUES ('978-8-57-328926-0', 'Dom Casmurro', 'Livraria Garnier', 1899)")
cur.execute("INSERT INTO livro VALUES ('978-0-06-072255-8', 'Assassinato no Expresso Oriente', 'Collins Crime Club', 1934)")
cur.execute("INSERT INTO livro VALUES ('978-0-07-602961-7', 'Cem Anos de Solidão', 'Casa de las Américas', 1967)")
cur.execute("INSERT INTO utilizador VALUES (101, 'João', 'Silva', 5)")
cur.execute("INSERT INTO utilizador VALUES (102, 'Maria', 'Santos', 15)")
cur.execute("INSERT INTO utilizador VALUES (103, 'Pedro', 'Fernandes', 8)")

In [9]:
conn.commit()
conn.close()

In [10]:
conn = sqlite3.connect('biblioteca.db')
cur = conn.cursor()

In [11]:
cur.execute("SELECT * FROM autor")
print("Autores:")
for row in cur.fetchall():
    print(row)

Autores:
(1, 'Machado', 'de Assis', 0)
(2, 'Agatha', 'Christie', 1)
(3, 'Gabriel', 'García Márquez', 0)

In [12]:
cur.execute("SELECT * FROM livro")
print("\nLivros:")
for row in cur.fetchall():
    print(row)

Livros:
('978-8-57-328926-0', 'Dom Casmurro', 'Livraria Garnier', 1899)
('978-0-06-072255-8', 'Assassinato no Expresso Oriente', 'Collins Crime Club', 1934)
('978-0-07-602961-7', 'Cem Anos de Solidão', 'Casa de las Américas', 1967)

In [13]:
cur.execute("SELECT * FROM utilizador")
print("\nUtilizadores:")
for row in cur.fetchall():
    print(row)

Utilizadores:
(101, 'João', 'Silva', 5)
(102, 'Maria', 'Santos', 15)
(103, 'Pedro', 'Fernandes', 8)

In [14]:
cur.execute("SELECT * FROM autor WHERE estarVivo = 1")
print("\nAutores vivos:")
for row in cur.fetchall():
    print(row)

Autores vivos:
(2, 'Agatha', 'Christie', 1)

In [15]:
cur.execute("SELECT * FROM livro WHERE ano_escrito > 1900")
print("\nLivros escritos após 1900:")
for row in cur.fetchall():
    print(row)

Livros escritos após 1900:
('978-0-06-072255-8', 'Assassinato no Expresso Oriente', 'Collins Crime Club', 1934)
('978-0-07-602961-7', 'Cem Anos de Solidão', 'Casa de las Américas', 1967)

In [16]:
cur.execute("SELECT * FROM utilizador WHERE numEmpréstimos > 10")
print("\nUtilizadores com mais de 10 empréstimos:")
for row in cur.fetchall():
    print(row)

Utilizadores com mais de 10 empréstimos:
(102, 'Maria', 'Santos', 15)

In [17]:
conn.close()